<div class="content-wrapper">
  <div class="content-header">

  </div>

  <section class="content">
    <!-- Info boxes -->
    <div class="row">

      <app-card-box class="col-lg-2 col-4" cor='info' titulo='Requerimentos' [quantidade]=qtdRequerimento
        rota="/requerimentos"></app-card-box>

      <app-card-box class="col-lg-2 col-4" cor='green' titulo='Ofícios' [quantidade]=qtdOficio
        rota="/oficios"></app-card-box>

      <app-card-box class="col-lg-2 col-4" cor='danger' titulo='Vereadores' [quantidade]=qtdVereador icon="fas fa-users"
        rota="/vereadores"></app-card-box>

      <app-card-box class="col-lg-2 col-4" cor='yellow' titulo='Usuários' [quantidade]=qtdUsuario rota="/admin/usuarios"
        icon="fas fa-users"></app-card-box>

      <app-card-box class="col-lg-2 col-4" cor='orange' titulo='Servidores' [quantidade]=qtdServidor rota="/servidores"
        icon="fas fa-users"></app-card-box>

    </div>

  </section>
</div>