<p-confirmPopup></p-confirmPopup>
<div class="content-wrapper mt-4">
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Listagem de perfis</h3>

              <div class="card-tools float-right">
                <div class="input-group input-group-sm">
                  <div class="input-group-append">
                    <a [routerLink]="['/admin/perfis/cadastro']" type="button" class="btn btn-block btn-primary">Novo
                      cadastro</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

              <p-table [value]="perfilList" responsiveLayout="scroll" class="table" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="false" [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-perfil>
                  <tr>
                    <td>{{ perfil.nome }}</td>
                    <td>
                      <div class="btn-group">
                        <button title="Editar" type="button" class="btn btn-white"
                          [routerLink]="['/admin/perfis', perfil.id]">
                          <em class="fa fa-edit"></em>
                        </button>
                        <button title="Excluir" type="button" class="btn btn-white"
                          (click)="deletar($event, perfil.id)">
                          <em class="fa fa-trash color-red"></em>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
</div>