<div class="content-wrapper">
  <div class="content-header">
    <h3>Gerar Documentos</h3>
  </div>

  <section class="content">
    <div class="row">
      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='info' titulo='Requerimento'
        rota="/requerimentos/cadastro" title="Gerar Requerimento"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='green' titulo='Ofício' rota="/oficios/cadastro"
        title="Gerar Ofício"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='danger' titulo='Portaria' rota="/oficios/cadastro"
        title="Gerar Portaria"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='orange' titulo='Decreto legislativo'
        rota="/oficios/cadastro" title="Gerar Decreto legislativo"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='red' titulo='Projeto de lei'
        rota="/oficios/cadastro" title="Gerar Projeto de lei"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='black' titulo='Parecer da comissão'
        rota="/oficios/cadastro" title="Gerar Parecer da comissão"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='pink' titulo='Declaração' rota="/oficios/cadastro"
        title="Gerar Declaração"></app-card-box-documentos>

      <app-card-box-documentos class="col-12 col-sm-6 col-md-3" cor='punk' titulo='Título de cidadão'
        rota="/oficios/cadastro" title="Gerar Título de cidadão"></app-card-box-documentos>

    </div>
  </section>
</div>
