<div class="content-wrapper mt-4">
  <section class="content">
    <div class="container-fluid">

      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Preencher requerimento</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Vereador</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label>Data:</label>
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Solicitação</label>
              <textarea class="form-control" rows="3" placeholder="Informe o motivo"></textarea>
            </div>
            <!-- /.form-group -->
          </div>

          <!-- /.col -->
        </div>
      </div>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->

    <!-- /.container-fluid -->
  </section>
</div>
