<div class="content-wrapper mt-4">
  <section class="content">
    <div class="container-fluid">

      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Listagem de requerimentos</h3>

              <div class="card-tools float-right">
                <div class="input-group input-group-sm">
                  <div class="input-group-append">
                    <a [routerLink]="['/requerimentos/cadastro']" type="button" class="btn btn-block btn-primary">Novo
                      requerimento</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

              <p-table [value]="requerimentoList" responsiveLayout="scroll" class="table" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="false" [rowsPerPageOptions]="[5, 10, 25, 50]"
                [alwaysShowPaginator]="requerimentoList.length != 0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Número</th>
                    <th>Vereador</th>
                    <th>Data</th>
                    <th>Motivo</th>
                    <th>Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-requerimento>
                  <tr>
                    <td>{{ requerimento.numero }}</td>
                    <td>{{ requerimento.pessoa?.nome }}</td>
                    <td>{{ requerimento.dataRequerimento | date: 'dd-MM-yyyy HH:mm' }}</td>
                    <td>
                      <div [innerHtml]="requerimento.assunto | slice:0:150"></div>
                    </td>
                    <td>
                      <div class="btn-group">
                        <a (click)="gerarPdf(requerimento)" class="btn btn-white" title="Gerar arquivo">
                          <i class="pi pi-file-pdf"></i>
                        </a>
                        <button title="Editar" type="button" class="btn btn-white"
                          [routerLink]="['/requerimentos', requerimento.id]">
                          <em class="fa fa-edit"></em>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
</div>
