<body class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>Sistema de </b>Requerimentos</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Informe seus dados para acessar o sistema</p>

        <form>
          <div class="input-group mb-3">
            <input [(ngModel)]="credenciais.username" type="email" name="email" class="form-control" placeholder="Email"
              required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input [(ngModel)]="credenciais.senha" type="password" name="senha" class="form-control" placeholder="Senha"
              required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p class="mb-1">
                <a href="#">Esqueci a senha</a>
              </p>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button (click)="login()" class="btn btn-primary btn-block">Entrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

</body>
