<div class="content-wrapper mt-4">
  <section class="content">
    <div class="container-fluid">

      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">{{ titulo }}</h3>

        </div>
        <form #vereadorForm="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label>Nome</label>
                <br>
                <input [(ngModel)]="pessoa.nome" name="nome" type="text" pInputText [style]="{ width: '75%' }">
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <br>
                <input [(ngModel)]="pessoa.email" name="email" type="text" pInputText [style]="{ width: '75%' }">
              </div>
              <div class="col-md-6" *ngIf="!pessoa.id">
                <label>Senha</label>
                <br>
                <input [(ngModel)]="pessoa.senha" name="senha" type="password" pInputText [style]="{ width: '75%' }">
              </div>
              <div class="col-md-4" *ngIf="pessoa.id">
                <div class="form-group">
                  <label>Ativo</label>
                  <br />
                  <p-dropdown [options]="opcoesStatus" [(ngModel)]="pessoa.ativo" optionLabel="descricao"></p-dropdown>
                </div>
              </div>
            </div>
            <p-footer>
              <div class="btn-right mt-4">
                <button (click)="cadastrar()" pButton type="button" label="Salvar" icon="pi pi-save"
                  class="p-button-success p-button-sm" *ngIf="!pessoa.id"></button>
                <button (click)="atualizar()" pButton type="button" label="Salvar" icon="pi pi-save"
                  class="p-button-success p-button-sm" *ngIf="pessoa.id"></button>
                <button routerLink="../" pButton type="button" label="Cancelar" icon="pi pi-angle-left"
                  class="p-button-secondary p-button-sm ml-2"></button>
              </div>
            </p-footer>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->


    </div>
    <!-- /.card -->

    <!-- /.container-fluid -->
  </section>
</div>
