<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">SGDOCS</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['documentos']" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Documentos
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Vereadores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['vereadores/cadastro']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['vereadores']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-address-card"></i>
            <p>
              Servidores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['servidores/cadastro']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['servidores']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Assessores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['assessores/cadastro']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['assessores']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tags"></i>
            <p>
              Cargos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['cargos/cadastro']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['cargos']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tags"></i>
            <p>
              Pronomes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['pronome-tratamento/cadastro']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['pronome-tratamento']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <p>
              Segurança
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['usuarios']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Usuários</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" data-widget="control-sidebar" title="Clique aqui para Sair do Sistema"
            data-slide="true" role="button">
            <i class="fa fa-reply nav-icon" aria-hidden="true"></i>
            <p>Sair do sistema</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>