<div class="content-wrapper mt-4">
  <section class="content">
    <div class="container-fluid">

      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Listagem de servidores</h3>

              <div class="card-tools float-right">
                <div class="input-group input-group-sm">
                  <div class="input-group-append">
                    <a [routerLink]="['/servidores/cadastro']" type="button" class="btn btn-block btn-primary">Novo
                      cadastro</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

              <p-table [value]="pessoaList" responsiveLayout="scroll" class="table" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="false" [rowsPerPageOptions]="[5, 10, 25, 50]"
                [alwaysShowPaginator]="pessoaList.length != 0">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pessoa>
                  <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa?.cargo }}</td>
                    <td>{{ pessoa.ativo ? 'Sim' : 'Não' }}</td>
                    <td>
                      <div class="btn-group">
                        <button title="Editar" type="button" class="btn btn-white"
                          [routerLink]="['/vereadores', pessoa.id]">
                          <em class="fa fa-edit"></em>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
</div>
